<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fbmp.digest</string>
    <key>ProgramArguments</key>
    <array>
        <string>__REPO__/.venv/bin/python</string>
        <string>-m</string>
        <string>fbmp.main</string>
        <string>digest</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__REPO__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>__REPO__/src</string>
        <key>PATH</key>
        <string>__PATH__</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__DIGEST_HOUR__</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>__REPO__/data/logs/digest.launchd.log</string>
    <key>StandardErrorPath</key>
    <string>__REPO__/data/logs/digest.launchd.log</string>
</dict>
</plist>
